@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

li::marker{
    font-variant-numeric: unset;
    unicode-bidi: normal;
    display: none;
}
.image-upload>input {
    display: none;
  }
  li.group.relative.p-3.cursor-pointer.text-gray-500.hover\:text-blue-600 {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
  }
  li::marker {
    content: none;
  }